@import "_variables.scss";

//layout commun
html {
  scroll-behavior: smooth;
  body {
    background-color: $white;
    color: black;
    max-height: auto;
    margin: 5px;

    .header-website {
      font: 19px / 25px Roboto, sans-serif;
      background-color: $white;
      height: auto;
    }
  }

  .mentions-title {
    display: grid;
    justify-content: center;
    padding-bottom: 2px;
  }

  .footer-container {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    color: black;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;

    .contact,
    .mentions {
      text-decoration: none;
      color: black;

      &:hover {
        color: $secondary;
      }
    }
  }
}

///layout mobile

@media screen and (max-width: 768px) {
  html {
    font-size: medium;
  }
  .header-website {
    justify-content: space-between;
    padding: 5px;
    a {
      color: $white;
      text-decoration: none;
    }
    .logo {
      width: 4rem;
      border-radius: 50%;
    }
  }
}

///layout pc

@media screen and (min-width: 768px) {
  html {
    font-size: large;
  }
  .logo {
    width: 5rem;
  }
}
